doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/resources/css/normalize.min.css')
    link(rel='stylesheet', href='/resources/css/foundation.min.css')
    link(rel='stylesheet',
      href='/resources/font-awesome-4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='js/bundle.js')
  body
    .content.row
      block content
