@import url("http://fonts.googleapis.com/css?family=Lato:300")

.no-select
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

.content
    padding-top 30px
    padding-bottom 30px
    width 1200px
    margin 0 auto
    font-family 'Lato'

.row
    max-width none

h1, h2, h3, h4, h5
    font-family 'Lato' sans-serif

h1
    color #50A5C1

td.empty
    background-color #FFECD4
    color #EE4400

table
    width 100%
    cursor default
    i
        float right

table thead tr
    @extend .no-select
    .table-head
        cursor pointer
    .selected-column
        color #50A5C1

table tbody tr.highlight
    background-color #DDF
    td
        color darken(#50a5c1, 60%)

table tbody tr:hover
    background-color #DDF
    td
        color darken(#50a5c1, 60%)

.category-button
    @extend .no-select
    cursor pointer
    font-size 0.8em
    margin 2px
    padding 2px 6px
    background-color #F6F6F6;
    border:1px solid #EEE;
    display inline-block
    margin-left 0px
    margin-right 6px
    margin-bottom 6px
    &.not-available
        opacity 0.4;
    &.selected
        background-color #50A5C1
        color #fff;
    &:hover:not(.selected):not(.not-available)
        background-color #DDF
        color #333;
    .category-count
        opacity 0.5
    &.highlight
        background-color #DDF
        color #333;
