@import url("http://fonts.googleapis.com/css?family=Lato:300")

.content h1, h2, h3, h4, h5
    font-family 'Lato' sans-serif

.content h1
    color #50A5C1

.content
    padding-top 30px
    padding-bottom 30px
    width 960px
    margin 0 auto
    font-family 'Lato'

td.empty
    background-color #FFECD4
    color #EE4400

table
    width 100%

.filter-widget input,select
    float left
    display inline
    width 30%
    margin-right 10px
