@import url("http://fonts.googleapis.com/css?family=Lato:300")

.content h1, h2, h3, h4, h5
    font-family 'Lato' sans-serif

.content h1
    color #50A5C1

.content
    padding-top 30px
    padding-bottom 30px
    width 960px
    margin 0 auto
    font-family 'Lato'

td.empty
    background-color #FFECD4
    color #EE4400

table
    width 100%

.category-checkbox label
    margin 4px;
    background-color #EFEFEF;
    border-radius 4px;
    border:1px solid #D0D0D0;
    overflow auto;
    float left
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    span
        text-align center;
        padding:3px 0px;
        display block;
        padding-left 1.1em
        padding-right 1.1em
    input
        position absolute;
        top -20px;
    input:checked + span
        background-color #50A5C1
        color #fff;
